[submodule "submodules/pyxser"]
	path = submodules/pyxser
	url = git@github.com:eugeneai/pyxser.git
[submodule "submodules/rake"]
	path = submodules/rake
	url = git@github.com:eugeneai/dispersive.git
[submodule "submodules/jsonpickle"]
	path = submodules/jsonpickle
	url = git@github.com:eugeneai/jsonpickle.git
